BusinessRules/Web References/WebserviceCgmisForOA/serviceOA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCommonQueryInfoForOA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strSql" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCommonQueryInfoForOAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCommonQueryInfoForOAResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCommonQueryInfoForOASoapIn">
    <wsdl:part name="parameters" element="tns:GetCommonQueryInfoForOA" />
  </wsdl:message>
  <wsdl:message name="GetCommonQueryInfoForOASoapOut">
    <wsdl:part name="parameters" element="tns:GetCommonQueryInfoForOAResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceOASoap">
    <wsdl:operation name="GetCommonQueryInfoForOA">
      <wsdl:input message="tns:GetCommonQueryInfoForOASoapIn" />
      <wsdl:output message="tns:GetCommonQueryInfoForOASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceOASoap" type="tns:ServiceOASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommonQueryInfoForOA">
      <soap:operation soapAction="http://tempuri.org/GetCommonQueryInfoForOA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceOASoap12" type="tns:ServiceOASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCommonQueryInfoForOA">
      <soap12:operation soapAction="http://tempuri.org/GetCommonQueryInfoForOA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceOA">
    <wsdl:port name="ServiceOASoap" binding="tns:ServiceOASoap">
      <soap:address location="http://192.168.80.84/webservice_cgmis/serviceOA.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceOASoap12" binding="tns:ServiceOASoap12">
      <soap12:address location="http://192.168.80.84/webservice_cgmis/serviceOA.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>